/* Add these styles to main.css */

/* Nutrition grid layout */
.nutrition-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}
.tip{
    text-align: center;
}

.nutrition-item {
    position: relative;
}

.nutrition-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.nutrition-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .nutrition-grid {
        grid-template-columns: 1fr;
    }
}
